<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoLab</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href={{url_for('static', filename='css/style2.css')}}>
</head>
<body>

    <!-- top navigation -->
    <div class="top">
        <div class="nav-container">
            <h1>Video Translator</h1>
        </div>
    </div>

    <!-- main content -->
    
    <div class="flex-container">
        <form action="/get_video" method="POST">
            <p>Enter a link to a video to translate or start typing to make a youtube search..</p>
            <input type="text" placeholder="Search" id="query" name="query" class="search_full">
        </form>
        </div>
    </div>

    <script src={{url_for('static', filename='js/script2.js' )}}></script>
</body>
</html>